
.gameboard{
    display: flex;
}


.right{
    align-self: center;
    justify-content: center;
    flex: 1;
    /*width: 100%;*/
}
.left{
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 1;
    /*background-color: darkgray;*/
    /*border: 2px solid black;*/
    /*width: 100%;*/
}
button{
    margin: 5px;
}