*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #ded3d3;
}
.gameBoard{
    display: flex;
    align-self: center;
    width: 100%;
}


.right{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    flex: 1;
    /*width: 100%;*/
}
.historyBtn button:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.historyBtn button{
    padding: 5px 15px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    box-shadow: 0 6px #999;
}
.historyBtn{

    margin-bottom: 16px;

    width: fit-content;
    align-self: center;
    padding-bottom: 3px;
    font-size: 14px;
    border-radius: 8px;
}
.historyBtn:hover{
    background-color: #0dc138;
}
.left{
    display: flex;
    flex-direction: column;
    align-self: center;
    flex: 2;
    /*background-color: darkgray;*/
    /*border: 2px solid black;*/
    /*width: 100%;*/
}
.left button{
    font-weight: bold;
    font-size: 50px;
    font-family: "Roboto Light", sans-serif;
}
.left button:active{
    background-color: #d3f8db;
}
button{
    /*border-radius: 8px;*/
    box-shadow: red;
    font-size: 16px;

}
.gameGridContainer{
    flex: 4;
}
.gamestatus{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
