
.movieCard{
    position: relative;
}
.movie-poster{
    position: relative;
    display: flex;
    /*flex-wrap: wrap;*/
    width:25vh;
    height: 35vh;
    /*border: 2px solid black;*/
    margin: 8px;
}
.movieimg{
    width:25vh;
    height: 35vh;
}
.movie-poster:hover + .mv-inf{
    visibility: visible;
}

.mv-inf:hover{
    visibility: visible;
}

.mv-inf{
    display: flex;
    flex-direction: column;
    position: absolute;
    alignment: bottom;
    bottom: 0;
    /*top: -6px;*/
    /*z-index: 3;*/
    align-self: end;
    width: 100%;
    background-color: white;
    height: 8vh;
    /*margin: 8px;*/
    visibility: hidden;
}

/*.mv-inf-title, .mv-inf-ratings,.mv-inf-genre{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    !*flex: 1;*!*/
/*}*/

.mv-inf-top{
    text-align: left;
    font-weight: bolder;
}

.mv-inf-btm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.mv-inf-genre{
    color: #868c85;
    font-weight: 400;
}

.mv-inf-ratings{
    border-radius: 8px;
    background-color: red;
    padding-left:6px;
    padding-right: 6px;
    color: white;
}