*{
    box-sizing: border-box;
}

.movieCard{
    position: relative;
    margin: 4px;
}
.movie-poster{
    position: relative;
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    width:250px;
    height: 350px;
    /*border: 2px solid black;*/
    /*margin: 8px;*/
}
.movieimg{
    width:250px;
    height: 350px;
}
.movie-poster:hover + .mv-inf{
    visibility: visible;
    /*transform: rotate(02deg);*/
}

.mv-inf:hover{
    visibility: visible;
}

.mv-inf{
    display: flex;
    flex-direction: column;
    position: absolute;
    alignment: bottom;
    bottom: 0;
    padding:5px;
    /*top: -6px;*/
    /*z-index: 3;*/
    align-self: end;
    width: 100%;
    background-color: white;

    /*height: 8vh;*/
    /*margin: 8px;*/
    visibility: hidden;
    /*transition: visibility 500ms;*/
}

/*.mv-inf-title, .mv-inf-ratings,.mv-inf-genre{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    !*flex: 1;*!*/
/*}*/

.mv-inf-top{
    text-align: left;
    font-weight: bolder;

}

.mv-inf-btm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.mv-inf-genre{
    display: flex;
    /*color: #868c85;*/
    /*font-weight: 400;*/
    flex-wrap: wrap;
    text-align: left;
}

.mv-inf-ratings{
    border-radius: 8px;
    background-color: red;
    padding-left:8px;
    padding-right: 8px;
    color: white;
    height: 22px;
    align-self: center;
}