
.grid{
    margin-top: 100px;
    display: flex;
    flex-direction: column;

}
.row1{
    /*width: 10px;*/
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: center;
}
.gridRow{
    display: flex;
    align-self: center;
}