.grid{
    /*margin-top: 100px;*/
    display: flex;
    flex-direction: column;
}
.row1{
    /*width: 10px;*/
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: center;
}
.gridRow{
    display: flex;
    align-self: center;
    border-bottom: solid 2px black;
}
.gridRow:last-child{
    border-bottom: dashed 0 black;
}
.gridRow .button-square{
    border-right: solid black 2px;
}
.gridRow .button-square:last-child{
    border-right: 0;
}